<!DOCTYPE html>

<html>
  <head>
    <title>Scorchers Cricket</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="assets/css/noscript.css"
    /></noscript>
  </head>
  <body class="is-preload">
    <div id="wrapper">
      <!-- <div id="bg"></div> -->
      <div id="overlay"></div>
      <div id="main">
        <div class="box">
          <h1 class="text-center" id="regHeader"></h1>
        </div>
        <!-- registration form -->

        <div class="box">
          <p class="text-center p-2">
            HI thank you for registering, you will receive an automated message
            from our chatbot. Meanwhile checkout our awesome website
          </p>
          <a href="/">Scorchers Cricket home</a>
        </div>

        <!-- Footer -->
        <footer id="footer"></footer>
      </div>
    </div>
    <script>

    </script>
    <script>
      window.onload = function () {
        // document.getElementById(`${formatted.nameChild}`).style.border="1px solid red"
        document.body.classList.remove("is-preload");
      };
      window.ontouchmove = function () {
        return false;
      };
      window.onorientationchange = function () {
        document.body.scrollTop = 0;
      };
    </script>
    <script src="assets/js/index.js"></script>
  </body>
</html>
