<!DOCTYPE html>
<!--
	Aerial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Scorchers Cricket</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/css/jumbotron.css" />
    <noscript
      ><link rel="stylesheet" href="assets/css/noscript.css"
    /></noscript>
  </head>
  <body class="is-preload">
    <div id="wrapper">
      <div id="bg"></div>
      <div id="overlay"></div>
      <div id="main">
        <!-- Header -->
        <header id="header">
          <h1>Scorchers Cricket</h1>
          <p>
            Have fun while you train &nbsp;&bull;&nbsp; Have fun while you
            learn&nbsp;&bull;&nbsp; Have fun at all costs
          </p>
          <nav>
            <ul>
              <li>
                <a href="#" class="icon brands fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-facebook-f"
                  ><span class="label">Facebook</span></a
                >
              </li>

              <li>
                <a href="#" class="fa fa-home"
                  ><span class="label">Github</span></a
                >
              </li>
              <li>
                <a href="#" class="icon solid fa-envelope"
                  ><span class="label">Email</span></a
                >
              </li>
            </ul>
          </nav>
        </header>
        <main>
          <p><%=player.name %> of <%= player.surburb%></p>
          <h4>Welcome to Scorchers</h4>
        </main>

        <!-- Footer -->
        <footer id="footer">
          <a href="/register" class="button">
            <span class="label">Register</span>
          </a>
        </footer>
      </div>
    </div>
    <script>
      window.onload = function () {
        document.body.classList.remove("is-preload");
      };
      window.ontouchmove = function () {
        return false;
      };
      window.onorientationchange = function () {
        document.body.scrollTop = 0;
      };
    </script>
  </body>
</html>
